tmp*
outputs
__pycache__/
logs
wandb
.vscode/
.DS_Store
pretrained
logs/*/*/*.pth
datasets/Cityscapes
datasets/GTA5
datasets/SYNTHIA
datasets/CrossCity
datasets/Synscapes
datasets/NTHU_Datasets
tmp
.ipynb_checkpoints
*/.ipynb_checkpoints
*.code-workspace
todo
